<table>
  <tr>
    <th>Developer</th>
    <th>Name</th>
    <th>Serial Number</th>
    <th colspan="3"></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= h program.developer.name %></td>
    <td><%= h program.name %></td>
    <td><%= h program.serial_number %></td>
    <td><%= link_to 'Show', :action => 'show', :id => program %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => program  %></td>
    <td><%= button_to 'Delete', { :action => 'destroy', :id => program },
                      data: { confirm: "Are you sure you want to delete program #{program.title}?" } %></td>
  </tr>
<% end %>
</table>
<br/>
<%= will_paginate @programs, :page_links => false, :link_separator => ' | ',
                          :previous_label => 'Previous page', :next_label => 'Next page' %>
<p><%= link_to 'Add a new program', :action => 'new' %></p>
