<dl>
  <dt>Nombre</dt>
  <dd><%= @program.name %></dd>
  <dt>Desarrollador</dt>
  <dd><%= @program.developer.name %></dd>
  <dt>Desarrollado el</dt>
  <dd><%= @program.developed_at.strftime("%d/%m/%Y at %I:%M%p") %></dd>
  <dt>Proveedores</dt>
  <dd><%= @program.supplier_names %></dd>
  <dt>Número de serie</dt>
  <dd><%= @program.serial_number %></dd>
  <dt>Descripción</dt>
  <%= RedCloth.new(@program.blurb).to_html.html_safe if @program.blurb %>
  <dt>Price</dt>
  <dd><%= @program.price %></dd>
  <dt>Imagen</dt>
  <% if @program.cover_image.exists? then %>
    <dd><%= image_tag @program.cover_image.url %></dd>
  <% else %>
    <dd><%= image_tag '/missing.png' %></dd>
    <p> No hay ninguna imagen asociada a este programa. Por favor suba una. </p>
  <% end %>
</dl>

<%= link_to 'Editar', :action => 'edit', :id => @program %> |
<%= link_to 'Atrás', :action => 'index' %>
