<dl>
  <dt>Name</dt>
  <dd><%= @program.name %></dd>
  <dt>Developer</dt>
  <dd><%= @program.developer.name %></dd>
  <dt>Developed at</dt>
  <dd><%= @program.developed_at.strftime("%d/%m/%Y at %I:%M%p") %></dd>
  <dt>Suppliers</dt>
  <dd><%= @program.supplier_names %></dd>
  <dt>Serial Number</dt>
  <dd><%= @program.serial_number %></dd>
  <dt>Blurb</dt>
  <%= RedCloth.new(@program.blurb).to_html.html_safe if @program.blurb %>
  <dt>Price</dt>
  <dd><%= @program.price %></dd>
  <dt>Cover image</dt>
  <% if @program.cover_image.exists? then %>
    <dd><%= image_tag @program.cover_image.url %></dd>
  <% else %>
    <dd><%= image_tag '/missing.png' %></dd>
    <p> There is no cover image attached. Please upload one. </p>
  <% end %>
</dl>

<%= link_to 'Edit', :action => 'edit', :id => @program %> |
<%= link_to 'Back', :action => 'index' %>
